@charset "UTF-8";

body{
    background-color: yellow;
    font-family: Arial;
    font-size: 20px;
}

h1{
    color: darkblue;
    background-color: rgb(188, 235, 101);
}

h2{
    color: darkred;
}

p{
    text-align: justify;
}